*{
    box-sizing: border-box;
} 
.card{
    box-shadow: inset 0 0 0.5em #1E2044; 
    border-radius: 20px;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    margin: 10px auto;
    padding: 0 30px 20px;
    width: 80%;
    font-weight: 550;
}
h2{
    font-family:Roboto Slab;
}
p{
    font-family:Montserrat;
    margin-block-start: 1px;
    margin-block-end: 1px;
}
.card-account {
    display: flex;
}
.first-p {
    margin-right: 20px;
}
.card-balance {
    display: flex;
    margin-top: 10px;

}
.bank {
    margin-bottom: 5px;
}
.profile-footer {
    display: block;
    color: #E3B15A;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    height: 80px;
}
.cards-profile{
    margin-bottom: 100px;
    margin-top: 20px;
}
.cards-products{
    margin-top: 125px;
}
h3{
    margin-left: 5%;
}

.creditOffers{
    display: flex;
    width: 100%;
    color:white;
}

.container-warn-icon{
    width: 20%;
    font-size: 30px;
    text-align: center;
    background:#9D1047;
    padding: 10px;
}

.container-warn-text{
    font-size: 13px;
    width: 80%;
    padding-top: 10px;
    padding: 10px;
    background-image: linear-gradient(to right,#9D1047, #da6491);
}
    
