*{
    box-sizing: border-box;
} 

.card{
    box-shadow: inset 0 0 0.5em #1E2044; 
    border-radius: 20px;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin: 10px auto;
    padding: 0 10px;
    width: 90%;
}
h2{
    font-family:Roboto Slab;
}
p{
    font-family:Montserrat;
    margin-block-start: 1px;
    margin-block-end: 1px;
}
.card-account {
    display: flex;
}

.agency {
    margin-right: 20px;
}

.card-balance {
    align-self: flex-end;
}

.bank {
    margin-bottom: 5px;
}

.profile-footer {
    display: block;
    color: #E3B15A;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    height: 80px;
}
.cards-profile{
    margin-bottom: 100px;
    margin-top: 140px;

}

    
