*{box-sizing: border-box;} 
.card{
    box-shadow: inset 0 0 0.7em #1E2044; 
    border-radius: 20px;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin: 10px auto;
    padding: 0 20px;
    width: 90%;
}
.card-account{
    display: flex;
    justify-content: space-around;
}
.card-balance{
align-self: flex-end;
}
.bank{
    margin-bottom: 5px;
}
.profile-footer{
    display: block;
    color: #E3B15A;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    height: 80px;
}
.cards-profile{
    margin-bottom: 300px ;
}

    
