.account-info{
  align-self: flex-end;
  font-size: 18px;
  /* margin-right: 10px; */
  font-family: 'Roboto Slab', serif; 
  
}
.client-info{
  color:#E3B15A;
  display: flex;
  justify-content: space-between;
  height: 3vh;;
}
.client-name{
  color:#E3B15A;
  align-self:end;
  height: 27px;
}
.header{
  background: #1E2044;
  position: fixed;
  top: 0px;
  height: 15vh;
  width: 100vw;
 
}
.images-header{
  display: flex;
}
li {
  list-style-type: none;
}
.logo{
/*   
  text-align: end;
  margin: auto; */
}

.logo-image{
  fill:#E3B15A
}
.logo-logout{
  display: flex;
  width: 100vw;
  height: 52px;
  border-bottom: 2px solid #00003c44;
}
.logout{
  margin: auto;
  cursor: pointer;
}
.logout-image{
  height: 32px;
}
.name-li{
  align-self: flex-end;
  width: ;
}

.visibility {
  visibility: hidden;
}

@media(min-width: 1200px){
  .header{
    height: 19vh;
  }
}