.account-info{
  align-self: flex-end;
  font-size: 18px;
  /* margin-right: 10px; */
  font-family: 'Roboto Slab', serif; 
  
}
.back{
  height:3vh;
  width: 33.33vw;
}
.client-info{
  width: 100vw;
  color:#E3B15A;
  display: flex;
  justify-content: space-around;
  height: 3vh;
  font-family: Roboto Slab;

}
.client-account{
  margin: revert;
  font-size: 14px;
}
.client-name{
  color:#E3B15A;
  align-self:end;
  height: 27px;
  font-size: 24px;
  font-family: Roboto Slab;
}
.header{
  background: #1E2044;
  position: fixed;
  top: 0px;
  height: 14vh;
  width: 100vw;
 
}
.images-header{
  width: 100vw;
  place-items: baseline;
  display: flex;
  justify-content: space-between;
}
.img-back{
  height: 2.5vh;
  padding-left: 2vw;
}
.img-logo{
  padding-top: 1vh;
}
.logo{ 
  text-align: center;  
  width: 33.33vw;
}
.logo-image{
  fill:#E3B15A
}
.logo-logout{
  display: flex;
  width: 100vw;
  height: 52px;
  border-bottom: 2px solid #00003c44;
}
.logout{  
  text-align: end;
  width: 33.33vw;
  cursor: pointer;
}
.logout-image{
  padding-right: 5vw;;
  height:3vh;
}
.name-li{
  align-self: flex-end;
}

.visibility {
  visibility: hidden;
  width: 33.33vw;
}


@media(min-width: 900px){
  .client-name{
    font-size: 35px;
  }
  .client-account{
    font-size: 19px;
  }
  .header{
    height: 18vh;
  }
  .img-logo{
    height:11vh;
  }
  .logout-image {
    padding-right: 2vw;
    height: 5vh;
}
 .img-back {
  height: 4vh;
}
}