@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;531&family=Roboto:wght@100&display=swap');

.form-login{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label-login{
  padding-left: 10%;
  height: 40px;
}

.input-login{
  height: 35px;
  border-radius: 4px;
  width: 90%;
  border: none;
}

.button-login{
  width: 40%;
  height: 30px;
  margin-top: 30px;
  align-self: center;
  background-color: #E3B15A;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #1E2044;
}

@media only screen and (min-width: 900px) {
  .input-login{
    width: 20%;
  }
  .button-login{
    width: 10%;
  }
  .label-login{
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }
}