.footer-images{
  height: 72%;
}
.footer{
  background:#1E2044;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
.div-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
}
.footer-background-blue{
  background:#1E2044;
}
.footer-background-white{
  background:#ffffff;
}