.card-offers{
  color: #00003C;
  box-shadow: inset 0 0 0.5em #1E2044; 
    border-radius: 20px;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin: 10px auto;
    padding: 0 10px;
    width: 90%;
    cursor: pointer;

}